@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body.nav-open {
        overflow: hidden;
    }

    .overlay {
        opacity: 0;
        transition: opacity .5s ease;
    }

    .overlay.active {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.75;
        z-index: 1;
        background-color: black;
    }

    #hero-gradient {
        background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.50) 51.56%, rgba(255, 255, 255, 0.00) 100%);
        height: 1px;
        border: 0;
    }

    #mobile-menu.shown {
        transform: translateX(0);
    }

    .world-map-bg {
        background: url('img/plane.svg'),
                    url('img/track.svg'),
                    url('img/world-map.svg');
        background-position: right 370px top 220px,
                             center right,
                             center right;
        background-repeat: no-repeat;
    }

    .city-bg {
        background: linear-gradient(to bottom, transparent 0, transparent 290px, #F4F5F5 290px 100%),
                    url('img/bg-city.svg');
        background-size: 100%, 720px 290px;
    }

    @media only screen and (min-width: 640px) {
        .city-bg {
            background: linear-gradient(to bottom, transparent 0, transparent 772px, #F4F5F5 772px 100%),
                        url('img/bg-city.svg');
            background-size: 100%, 1920px 772px;
            background-position: center, 40% 0%;
        }

        #hero-gradient {
            background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.50) 54.13%, rgba(255, 255, 255, 0.00) 100%);
        }
    }

    @media only screen and (min-width: 1140px) {
        #hero-gradient {
            background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.50) 51.56%, rgba(255, 255, 255, 0.00) 100%);
        }
    }
}