@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        overflow-x: hidden;
    }

    a {
        @apply text-link;
    }

    .container-1140 {
        max-width: 1140px;
        margin: 0 auto;
    }

    .mobile-menu {
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 400px;
        min-height: 100vh;
        padding: 24px 12px;
        background-color: #4B545C;
        transform: translateX(100%);
        transition: transform .3s ease;
    }

    .nav-open {
        overflow: hidden;
    }

    .shown {
        transform: translateX(0%);
    }

    .close-btn-wrapper {
        padding-top: 13px;
        padding-bottom: 13px;
        padding-left: 12px;
        border-left: 1px solid #CCC;
    }

    .account-actions a {
        @apply font-bold text-tertiary;
    }

    .account-actions {
        margin-bottom: 24px;
        display: flex;
    }

    .mobile-menu li {
        border-bottom: #BABABA 1px solid;
    }

    #hero-gradient {
        background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.50) 51.56%, rgba(255, 255, 255, 0.00) 100%);
        height: 1px;
        border: 0;
    }

    @media only screen and (min-width: 640px) {
        #hero-gradient {
            background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.50) 54.13%, rgba(255, 255, 255, 0.00) 100%);
        }
    }

    @media only screen and (min-width: 1140px) {
        #hero-gradient {
            background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.50) 51.56%, rgba(255, 255, 255, 0.00) 100%);
        }
    }

    ul a {
        line-height: 40px;
        color: white;
    }

    .world-map-bg {
        /*@apply bg-world-map bg-no-repeat bg-right;*/
        background: url('img/plane.svg'),
                    url('img/track.svg'),
                    url('img/world-map.svg');
        background-position: right 370px top 220px,
                            center right,
                            center right;
        background-repeat: no-repeat;
    }

    .btn-lg {
        @apply rounded-full px-12 font-bold py-2.5 font-raleway;
    }

    .btn-md {
        @apply rounded-full px-6 font-bold py-2.5 border-1 border-link text-link;
    }

    .btn-blue {
        @apply text-white bg-primary;
    }

    .value-prop {
        @apply flex flex-col items-center gap-5 sm:items-start;
    }

    .value-prop p {
        @apply text-center text-sm leading-6 max-w-[300px] sm:text-start;
    }

    .value-prop img {
        @apply mx-5 w-[121px] aspect-prop sm:mx-0;
    }

    article.company {
        @apply relative rounded-md border-zinc-200 bg-white px-3 py-6 border-1;
    }

    .city-bg {
        background: linear-gradient(to bottom, transparent 0, transparent 290px, #F4F5F5 290px 100%),
        url('img/bg-city.svg');
        background-size: 100%, 720px 290px;
    }

    @media only screen and (min-width: 640px) {
        .city-bg {
            background: linear-gradient(to bottom, transparent 0, transparent 772px, #F4F5F5 772px 100%),
            url('img/bg-city.svg');
            background-size: 100%, 1920px 772px;
            background-position: center, 40% 0%;
        }
    }

    .company-name {
        @apply mb-6 font-semibold;
    }

    .company-logo {
        @apply absolute top-6 right-2;
    }

    .company-details {
        @apply mb-1 flex items-center;
    }

    .company-details a, .company-details p {
        @apply ml-2 text-black;
    }

    .about-company {
        @apply mt-6 text-secondary-20;
    }

    article.experience {
        @apply mx-auto my-10 sm:my-0 lg:flex lg:gap-9 lg:w-[100%];
    }

    .content {
        @apply max-w-[530px];
    }

    .article-img {
        @apply rounded-md aspect-[558/386] sm:w-full lg:w-[558px];
    }

    article hr {
        @apply my-6 h-0.5 border-0 bg-[#F4F5F5] rounded-full;
    }

    .publication-date {
        @apply my-3 text-sm text-secondary-10;
    }

    .article-title {
        @apply text-2xl font-amaranth text-secondary-20;
    }

    .article-text {
        @apply my-6 text-secondary-20;
    }

    .organization {
        @apply text-sm text-secondary-10;
    }

    .duration {
        @apply mt-3 mb-6 flex items-center text-sm text-secondary-10;
    }
}